# Java part
# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# Compiled
bin/
out/
*.class

# Python part
# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.venv
.metadata/
TrainedModels/
database.xml


