# Java part
.classpath
.project
.settings/
.metadata/

# VS Code
.vscode/

# Compiled
bin/
out/
*.class

# Trained models and runtime database
DownloadedModels/
TrainedModels/
database.xml


# Python part
__pycache__/
.venv



